
<div class="customContain">
    <h3>CREATE YOUR OWN CUSTOM SHIRT</h3>

    <div class="toolBar">
        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle customB" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                SIZE
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="">SMALL</a>
                <div class="dropdown-divider"></div>

                <a class="dropdown-item" href="#">MEDIUM</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">LARGE</a>

            </div>
        </div>


        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle customB" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                DETAIL COLOR
            </button>
            <div class="dropdown-menu detailD">
                <a class="dropdown-item" href="#/custom4">BLACK</a>
                <div class="dropdown-divider"></div>

                <a class="dropdown-item" href="#/custom4">BURGANDY</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#/custom4">GREEN</a>

            </div>
        </div>



        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle customB" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                FIT
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="">DRESS</a>
                <div class="dropdown-divider"></div>

                <a class="dropdown-item" href="#">CASUAL</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">FLANNEL</a>

            </div>
        </div>



    </div>

    <div class="shirtView">
        <img src="images/custom1.png" class ="custom1"/>

        <img src="images/custom2.png" class ="custom2"/>
    </div>

    <h4>Left Side Selection</h4>

    <div class="">
        <span class="glyphicon glyphicon-chevron-left gRaw"></span>
        <img src="imageCopy/sample1.jpg" class ="sampleSelect"/>
        <img src="imageCopy/sample2.jpg" class ="sampleSelect"/>
        <img src="imageCopy/sample3.jpg" class ="sampleSelect"/>

        <img src="imageCopy/sample4.jpg" class ="sampleSelect"/>
        <img src="imageCopy/sample6.png" class ="sampleSelect"/>
        <img src="imageCopy/sample5.jpg" class ="sampleSelect"/>
        <img src="imageCopy/sample7.png" class ="sampleSelect"/>
        <span class="glyphicon glyphicon-chevron-right gRaw"></span>

    </div>



    <img src="images/75percent.png" class ="progressStatus"/>
    <h5>Almost there!</h5>

    <!--  <div class="modalStart">
          <h2 class="black">Start by picking your size!</h2>
          <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle customB" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  SIZE
              </button>
              <div class="dropdown-menu">
                  <a class="dropdown-item" href="">SMALL</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">MEDIUM</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">LARGE</a>
              </div>
          </div>
      </div>-->

    <div class="toolBar">
        <div class="btn-group goBuy">
            <button type="button" class="btn btn-default  actionButtons" >
                SAVE FOR LATER
            </button>
        </div>
        <div class="btn-group goBuy">
            <button type="button" class="btn btn-default  actionButtons" >
                BUY NOW
            </button>
        </div>
    </div>
</div>