
<div class="container">

    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-sm-offset-1">

            <div class="itemView">
                <img class="itemViewImg" src={{shirtView1}}>



                <img class="itemViewImg" src={{shirtView2}}>
            </div>

        </div>
    </div>

    <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5 text-section">
        <div class = " text">
            <h3 class = "itemTitle">{{shirtName}}</h3>
            <!--<h4 class = "description">Size: {{shirtSize}}<br>Cotton<br>Western Snaps<br>{{shirtPrice}}</h4>-->
            <h4 class = "description">Size: {{shirtSize}}<br>Recycled Materials<br>Handmade<br>{{shirtPrice}}</h4>
            <div class="purchaseContainer">
                <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=U648GEDNBTBF8"
                   class="btn-danger btn-left itemBtn" role="button">PURCHASE</a>
                <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=U648GEDNBTBF8"
                   class="btn-danger btn-left itemBtn" role="button">HELP</a>
            </div>
        </div>
    </div>

</div>
</div>




<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> <!-- 33 KB -->

<!-- fotorama.css & fotorama.js. -->
<link  href="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet"> <!-- 3 KB -->
<script src="http://cdnjs.cloudflare.com/ajax/dflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script> <!-- 16 KB -->ttp://cdnjs.cloudflare.com/ajax/dflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script> <!-- 16 KB -->