

<script>
    $(document).on('click.nav','.navbar-collapse.in',function(e) {
        if( $(e.target).is('a') ) {
            $(this).removeClass('in').addClass('collapse');
        }
        else  {
            $(this).removeClass('in').addClass('collapse');
        }
    });

    $(document).on('hover.navbar-toggle','.navbar-collapse.in',function(e) {
        if( $(e.target).is('a') ) {
            $(this).addClass('in');
        }
    });
    jQuery(
            function canvasReady($)
            {
                var $p = $(".title");
                var $slice = $(".slice1");
                var $stickyslice = $(".stickySlice");
                var $makeMatch = $(".makeMatch");
                var $left18 = $("#left8");
                var $left20 = $("#left7");




                /*      var s1 = $("p:last").postition();
                 var s2 = $slice2.offsetHeight;*/
                $('.parallax').bind('scroll', function()
                {

                    if($('.parallax').scrollTop()-$('#group2').height() > $('#group3').height())
                    {

                        $slice.css("display","none");
                        $stickyslice.css("opacity","1");
                        $slice.css("top","20%");
                        $slice.css("left","5%");
                        $p.css("opacity: 1");
                    }

                    if($('.parallax').scrollTop()-$('#group2').height() < $('#group3').height())
                    {
                        $slice.css("display","block");
                        $stickyslice.css("opacity","0");
                        /*$p.css("background-color","white");*/
                        $slice.css("top","20%");
                        $slice.css("left","5%")
                    }


                    if($('.parallax').scrollTop()>$('#group1').height()+$('#group2').height())
                    {
                        $left20.css("opacity","0");
                        $left18.css("opacity","0");
                    }

                    if($('.parallax').scrollTop()<$('#group1').height()+$('#group2').height())
                    {
                        $left20.css("opacity","1");
                        $left18.css("opacity","1");
                    }



                    /*if($('.parallax').scrollTop()>$('#group2').height())
                     {

                     $left1.css("position","relative");
                     $left1.css("-webkit-animation","myfirst 5s cubic-bezier(0.85, 0.15, 1, 1) 0s 1");
                     $left1.css("animation","myfirst 5s cubic-bezier(0.85, 0.15, 1, 1) 0s 1");
                     $left1.css("animation","myfirst 5s cubic-bezier(0.85, 0.15, 1, 1) 0s 1");



                     }*/
                })
            }
    );

</script>

<div onload="canvasReady()">
<h5 class="goShop"><a href="#/">CONTINUE TO SHOP</a></h5>

<div class="parallax">

    <div id="group1" class="parallax__group">
        <div class="parallax__layer parallax__layer--base">
            <h2 class="title">WEAR YOUR INNER CONFLICT OUT</h2>
        </div>
    </div>

    <div id="group2" class="parallax__group">
        <div class="parallax__layer parallax__layer--base">
            <img src="imageCopy/d2.1.jpg"; class ="buy1" id="left1"  />
            <img src="imageCopy/d2.9.jpg"; class ="buy1" id="left2"   />
            <img src="imageCopy/d2.6.jpg"; class ="buy1" id="left5"  />
            <img src="imageCopy/d2.15.jpg"; class ="buy1" id="left6"   />
        </div>
        <div class="parallax__layer parallax__layer--back">

            <img src="imageCopy/d2.5.jpg"; class ="buy2" id="left3"  />
            <img src="imageCopy/d2.8.jpg"; class ="buy2"  id="left4" />
            <img src="imageCopy/d2.20.jpg"; class ="buy2" id="left7"  />
            <img src="imageCopy/d2.18.jpg"; class ="buy2"  id="left8" />


        </div>
    </div>


    <div id="group3" class="parallax__group">

        <div class="parallax__layer parallax__layer--fore">
            <img src="images/shirtSlice3.png"; class ="slice1"   />


        </div>

        <div class="parallax__layer parallax__layer--base">
            <img src="images/shirtSlice2.png"; class ="slice2"   />
            <img src="images/shirtSlice3.png"; class ="stickySlice" style="display:none;"/>
            <h2 class="title"><a class="makeMatch" href="#/custom">EACH PIECE IS CUSTOM MADE</a></h2>


            <!--
                        <a href="#" class="btn btn-default sliceButton" role="button">CREATE YOUR OWN</a>
            -->
        </div>

    </div>

    <div id="group4" class="parallax__group">

        <div class="parallax__layer parallax__layer--back">
            <h2 class="title"><a class="makeMatch" href="#/custom">GIVING USED SHIRTS NEW LIFE</a></h2>

        </div>
        <div class="parallax__layer parallax__layer--deep">
        </div>
    </div>
    <div id="group5" class="parallax__group">

        <div class="parallax__layer parallax__layer--base">

            <a class="makeMatch" href="#/home">
                <div class="q1 q">
                    <h3 id="navigationText1">BUY A PREMADE PIECE</h3>
                </div>
            </a>

            <a class="makeMatch" href="#/custom">
                <div class="q2 q">
                    <h3 id="navigationText2">MAKE YOUR OWN MATCH</h3>
                </div>
            </a>

            <a class="makeMatch" href="#/lookBook">
                <div class="q3 q">
                    <h3 id="navigationText3">SPRING 2017 LOOKBOOK</h3>
                </div>
            </a>
            <a class="makeMatch" href="#/archive">
                <div class="q4 q">
                    <h3 id="navigationText4">ARCHIVE</h3>
                </div>
            </a>
        </div>
    </div>

</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> <!-- 33 KB -->

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-10812217-1', 'auto');
    ga('send', 'pageview');
</script>

</div>
